header {
  text-align: center;
  color: white;
  background: black;
  padding-top: 20px;
  padding-bottom: 20px;
}
body {
  text-align: left;
  background: #456732;
  padding-top: 20px;
  padding-left: 20px;
}
